@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    min-width: 30%;
    /* min-height: 70%;*/
    box-shadow: 4px 5px brown;
    border: 2px solid snow;
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center; 
    background-color: whitesmoke;
    overflow: hidden;
}
h1{
    font-size: 50px;
    color: rgb(72, 2, 2);
}
img{
   height: 200px;
   width: 200px;
   border-radius: 20%;
}

.day{
    font-size: 20px;
    font-weight: bold;
    color: brown;
}



.track{
    font-size: 30px;
    font-weight: bold;
    color: rgb(81, 22, 22);
    padding-bottom: 20px;
}
a{
    width: 60px;
    height: 20px;
    border: 2px solid rgb(20, 18, 18);
    color: white;
    background-color: brown;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    background-color: rgb(86, 3, 3);
}
